# Python Data Structures

### Sequences: Lists and tuples

In [26]:
myList = ["Philip", "George", "Amanda", "Sarah"]

In [27]:
myList[0]

'Philip'

In [28]:
len(myList)

4

In [29]:
myList[3]

'Sarah'

In [30]:
myList[-1]

'Sarah'

In [31]:
myList[1:3]

['George', 'Amanda']

In [32]:
myList[2:]

['Amanda', 'Sarah']

In [33]:
myList[:2]

['Philip', 'George']

In [34]:
myList[:]

['Philip', 'George', 'Amanda', 'Sarah']

In [35]:
myList.append("Helen")
myList

['Philip', 'George', 'Amanda', 'Sarah', 'Helen']

In [36]:
myList.extend([50, "Steve"])
myList

['Philip', 'George', 'Amanda', 'Sarah', 'Helen', 50, 'Steve']

In [38]:
first = ["A", "B"]
second = ["C", "D", "E"]
third = first + second
third

['A', 'B', 'C', 'D', 'E']

In [39]:
first.extend(second)
first

['A', 'B', 'C', 'D', 'E']

In [42]:
myAnimals = ("Cat", "Dog", "Rat", "Bird")

In [43]:
myAnimals[0] = "Cat v2"

TypeError: 'tuple' object does not support item assignment

In [44]:
len(myAnimals)

4

In [45]:
print(myAnimals[0], myAnimals[-1])

Cat Bird

In [46]:
myAnimals[2:]

('Rat', 'Bird')

In [47]:
(a, b, c) = ("One", "Two", "Three")
print(b)

Two

In [48]:
a, b, c = "One", "Two", "Three"
print(b)

Two

In [49]:
myAnimals = ("Cat", "Dog", "Rat", "Bird")
for id, anim in enumerate(myAnimals):
    print(anim, id)

Cat 0
Dog 1
Rat 2
Bird 3

### Dictionaries and sets

In [50]:
myNums = {"A": "One", "B": "Two", "C": "Three", "E": "Five"}
myNums

{'A': 'One', 'B': 'Two', 'C': 'Three', 'E': 'Five'}

In [51]:
myNums["C"]

'Three'

In [52]:
myNums["D"] = "Six"
myNums

{'A': 'One', 'B': 'Two', 'C': 'Three', 'E': 'Five', 'D': 'Six'}

In [53]:
myNums = {"A": "One", "B": "Two"}
myNums2 = {"F": "Ten"}
myNums.update(myNums2)
myNums

{'A': 'One', 'B': 'Two', 'F': 'Ten'}

In [54]:
del(myNums["B"])
myNums

{'A': 'One', 'F': 'Ten'}

In [55]:
vowels = {"A", "E", "I", "O", "U", "A"}
vowels

{'A', 'E', 'I', 'O', 'U'}

In [56]:
"O" in vowels, "S" in vowels

(True, False)

### Loops and Comprehensions

In [57]:
numbers = [1, 2, 4, 5, 7, 13, 22]
for num in numbers:
    print(num)

1
2
4
5
7
13
22

In [58]:
i = 1
while i < 5:
    print(i)
    i = i + 1

1
2
3
4

In [59]:
myNums = {"A": "One", "B": "Two", "C": "Three", "E": "Five"}
for k in myNums:
    print(k, myNums[k])

A One
B Two
C Three
E Five

In [61]:
twice = []
for i in range(1, 6):
    twice.append(i*2)
print(twice)

[2, 4, 6, 8, 10]

In [62]:
twice = [i*2 for i in range(1, 6)]
print(twice)

[2, 4, 6, 8, 10]

In [63]:
twice_even = [i*2 for i in range(1, 6) if i*2 > 5]
print(twice_even)

[6, 8, 10]

In [64]:
twice_dict = {i: i*2 for i in range(1, 7) if i*2 > 7}
print(twice_dict)

{4: 8, 5: 10, 6: 12}